<p>Dear Hr,</p>

<p>I am reuqesting for <b><%= @request.request_for %></b></p>
<p><b>Subject: &nbsp;&nbsp;</b> <%= @request.subject %></p>
<p><b>Body:&nbsp;&nbsp;</b> <%= @request.body %></p>
	 
<p> I request you to Approve and Confirm. </p>

<p>Thank you!</p> 

<p><b>Regards</b></p>
<p><b><%= @user.firstname %>,</p> 
<p>EmpId:<b><%= @user.id %>.</b></p>


