<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" >
    <title>Welcome To Canopy One Solutions is an IT Solution Provider and general IT consulting
        company</title>
        
<%= stylesheet_link_tag "menustyles.css" %>
      
        <%= stylesheet_link_tag "Styles.css" %>
        <%= stylesheet_link_tag "reset-min.css" %>
 
<script type="application/javascript">       

function signup(link)
{
	window.location.href =link;
}

</script>
        
        
        
   </head>
<body>
    <form id="form1" >
   
   <div class="maindiv">
        <div class="spacer">
            &nbsp;</div>
        <div class="innerdiv">
              <div class="top-header">
                <p style="width: 24px;">
                    <img src="../../assetsheader-top-left.jpg" alt="Canopy One" /></p>
                <p class="header-bg">&nbsp;
                    </p>
                <p style="width: 24px;">
                    <img src="../../assetsheader-top-right.jpg" alt="Canopy One" /></p>
            </div>
            <!--Header Begin-->
            <div class="header">
                <div class="floatleft">
               
                        <img src="../../assetslogo.jpg" style="padding: 0px 0px 0px 12px; border: 0px;" alt="Canopy One" /></div>
               <div id="global_office">
                   
                </div>
                                   <div id="global_officeforms">
                    <div id="topnav">
                        <ul id="dropdownmenu">
                             <%= render :partial=>"partials/link" %>
                            </ul>
                    </div>
                </div>
            </div>
            
            
     <!--       <div class="headingbg_img">
                <div class="headingbg_padding">
                    &nbsp;</div>
                <div id="TransBg">
                    &nbsp;</div>
                <div class="lineheight">
                    &nbsp;</div>
                <div class="menu_space">
                    &nbsp;</div>
               </div>       -->
               
               
            <div class="innercontentTS">
           
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">  <!--width="934"-->
      <tbody><tr>
        <td valign="top"></td>
      </tr>
      <tr>
        <td></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center"></td>
            </tr>
            <tr>
              <td align="left" height="10">
                  </td>
            </tr>
            <tr>
              <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
              <td valign="top"><table border="0" cellpadding="0" cellspacing="0">  <!--width="660"-->
              <tbody><tr>
                <td><table background="../../assetsbody_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assetsbody_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td><table align="center" border="0" cellpadding="3" cellspacing="0" width="978">
                      <tbody><tr>
                        <td class="innerheadingts" align="left" height="25" style="padding-left:7px"><b>Placement Events
                        </b></td><td align="center">
                 <%= render :partial=>'partials/welcome' %>
                </td>
                      </tr>
                      

                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td><img src="../../assetsbody_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table background="../../assetsbody_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assetsbody_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td>

             
<div align="center">

<table>
<p id="notice"><%= notice %></p>


 <tr> <td> <b>Vendor:</b></td><td><%= placement_fulfilment_vendor_name(@placement_fulfilment.vendor) %></td></tr>

 <tr> <td><b>Sub Vendor:</b></td><td>
<%= placement_fulfilment_subvendor_name(@placement_fulfilment.subvendor_id) %>
</td></tr>

 <tr> <td>  <b>Client:</b></td><td>
 <%= placement_fulfilment_client_name(@placement_fulfilment.client) %>
</td></tr>

<tr> <td>  <b>Consultant:</b></td>
<td><%= placement_fulfilment_consultant_id(@placement_fulfilment.consultant_id) %></td>
</tr>
<tr> <td>  <b>Consultant Type:</b></td>
<td><%= @placement_fulfilment.consultant_type %></td>
</tr>
<tr> <td>  <b>Recruiter:</b></td>
    <td><%= placement_fulfilment_recruiter_id(@placement_fulfilment.recruiter_id) %></td>
    </tr>
    
<tr> <td>  <b>SalesPerson:</b></td>    
    <td><%= placement_fulfilment_salesperson_id(@placement_fulfilment.salesperson_id) %></td></tr>
 <tr> <td>  <b>User acceptance:</b></td><td>
  <% if  @placement_fulfilment.user_acceptance== true %>
  <%= "accepted" %>
  <% else if @placement_fulfilment.user_acceptance==false %>
  <%= "Unwilling To Agree "%>
  <% else %>
  <%= "Waiting For Consultant's Choice" %>
  <% end %>
  <% end %>
</td></tr>
<% if @placement_fulfilment.user_acceptance==true %>
 <tr> <td>  <b>User acceptance timestamp:</b></td><td>
  <%= @placement_fulfilment.user_acceptance_timestamp %>
</td></tr>
<% end %>
 <tr><td></td> <td> 

<input type="button" value="Back" class="button_small" onclick="signup('<%= placement_fulfilments_path %>')" ></input>
</td></tr>
</table>

 </div>
                
 
                    </td>
                  </tr>
                  <tr>
                    <td><img src="../../assetsbody_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody></table></td>
            </tr>
        </tbody></table>

             </td>
            </tr>
        </tbody></table>
        
        </div>
                 <div class="clearboth" style="line-height: 2px;">
                    &nbsp;</div>
           
            <div class="bottom-footer">
                <p style="width: 24px;">
                    <img src="../../assetsbottom-left.jpg" alt="Canopy One" /></p>
                <p class="bottom-footerbg">
                    Copyright @ 2009 Canopy One Solutions . all rights reserved.</p>
                <p style="width: 24px;">
                    <img src="../../assetsbottom-right.jpg" alt="Canopy One" /></p>
            </div>
        </div>
        <div class="smallspacer">
            &nbsp;</div>
    </div>
    </form>
</body>
</html>