<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" >
    <title>Welcome To Canopy One Solutions is an IT Solution Provider and general IT consulting
        company</title>
 <%= stylesheet_link_tag "menustyles.css" %>
      
        <%= stylesheet_link_tag "Styles.css" %>
        <%= stylesheet_link_tag "reset-min.css" %>
               
 <script type="text/javascript">
	
function back(link)
{
	window.location.href =link;
}

        	
function validate()
{
	if(document.getElementById("client_name").value=="")
 { 
   alert("Please Enter Client Name");
   document.getElementById("client_name").focus();
   return false;
 }   		
   else if(document.getElementById("client_email").value=="")
 { 
   alert("Please Enter Client Email");
   document.getElementById("client_email").focus();
   return false;
 }     
else if(document.getElementById("client_phone").value=="")
 { 
   alert("Please Enter Client Phone");
   document.getElementById("client_phone").focus();
   return false;
 }   
else
return true;      
        		
}
        	
        </script>
        
   </head>
<body>
   <%= form_for @client, :url=>{:action=>'create'} do |f| %>
   
   <div class="maindiv">
        <div class="spacer">
            &nbsp;</div>
        <div class="innerdiv">
              <div class="top-header">
                <p style="width: 24px;">
                    <img src="../../../assets/header-top-left.jpg" alt="Canopy One" /></p>
                <p class="header-bg">&nbsp;
                    </p>
                <p style="width: 24px;">
                    <img src="../../../assets/header-top-right.jpg" alt="Canopy One" /></p>
            </div>
            <!--Header Begin-->
            <div class="header">
                <div class="floatleft">
               
                        <img src="../../../assets/logo.jpg" style="padding: 0px 0px 0px 12px; border: 0px;" alt="Canopy One" /></div>
               <div id="global_office">
                   
                </div>
                                   <div id="global_officeforms">
                    <div id="topnav">
                        <ul id="dropdownmenu">
                             <%= render :partial=>"partials/link" %>
                            </ul>
                    </div>
                </div>
            </div>
            

               
            <div class="innercontentTS">
           
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">  <!--width="934"-->
      <tbody><tr>
        <td valign="top"></td>
      </tr>
      <tr>
        <td></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center"></td>
            </tr>
            <tr>
              <td align="left" height="10">
                  </td>
            </tr>
            <tr>
              <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
              <td valign="top"><table border="0" cellpadding="0" cellspacing="0">  <!--width="660"-->
              <tbody><tr>
                <td><table background="../../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td><table align="center" border="0" cellpadding="3" cellspacing="0" width="978">
                      <tbody><tr>
                        <td class="innerheadingts" align="left" height="25" style="padding-left:7px"><b>New Client
                        </b></td><td align="center">
                  <%= render :partial=>'partials/welcome' %>
                </td>
                      </tr>
                      

                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table background="../../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td>

             
<div align="center">


<% if @client.errors.any? %>
    <div class="error_messages">
      
      <ul>
        <% for message in @client.errors.full_messages %>
          <li><font style="color: red "><%= message %></font></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    
 <div align="center">   
<table>

<tr>
<td><b><span style="color: Red">*</span><%= f.label :Client_name %>:</b></td>
<td height="30"> <%= f.text_field :name %></td>
</tr>
  
<tr><td> <b> <span style="color: Red">*</span> <%= f.label :manager_name %>:</b></td>
   <td height="30">   <%= f.text_field :manager_name %></td>
</tr>

<tr><td><b> <span style="color: Red">*</span><%= f.label :manager_email %>:</b></td>
   <td height="30">   <%= f.text_field :manager_email %></td>
</tr>

<tr><td><b> <span style="color: Red">*</span> <%= f.label :manager_phone %>:</b></td>
   <td height="30">   <%= f.text_field :manager_phone %></td>
</tr>

 <tr>
<td><b><%= f.label :Address1 %>:</b></td>
<td height="30">   <%= f.text_field :address1 %></td>
</tr>

<tr><td><b> <%= f.label :Address2 %>:</b></td>
   <td height="30">   <%= f.text_field :address2 %></td>
</tr>


<tr><td><b> <%= f.label :note %>:</b></td>
   <td height="30">   <%= f.text_area :note, :size=> '25*25' %></td>
</tr>

  
 	
<tr>  <td>&nbsp;</td>
	<td><%= f.submit "Submit", :class=>"button_small" %>&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  <input type="button" value="Back" class="button_small" onclick="back('<%= new_placement_fulfilment_path(:vid=>params[:vid],:sid=>params[:sid]) %>')" ></input>
   </td>
</tr>



<input type="hidden" name="subvendor_id" id="subvendor_id" value="<%= params[:sid] %>">



</table>
 </div>
 </div>
                
 
                    </td>
                  </tr>
                  <tr>
                    <td><img src="../../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody></table></td>
            </tr>
        </tbody></table>

             </td>
            </tr>
        </tbody></table>
        
        </div>
                 <div class="clearboth" style="line-height: 2px;">
                    &nbsp;</div>
           
            <div class="bottom-footer">
                <p style="width: 24px;">
                    <img src="../../../assets/bottom-left.jpg" alt="Canopy One" /></p>
                <p class="bottom-footerbg">
                    Copyright @ 2009 Canopy One Solutions . all rights reserved.</p>
                <p style="width: 24px;">
                    <img src="../../../assets/bottom-right.jpg" alt="Canopy One" /></p>
            </div>
        </div>
        <div class="smallspacer">
            &nbsp;</div>
    </div>
  <% end %>
</body>
</html>

