<%= form_for [@client,@client.projects.build],:html=>{:onsubmit=>"return validate();"} do |com| %>

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" >
    <title>Welcome To Canopy One Solutions is an IT Solution Provider and general IT consulting
        company</title>       
<%= stylesheet_link_tag "menustyles.css" %>
      
        <%= stylesheet_link_tag "Styles.css" %>
        <%= stylesheet_link_tag "reset-min.css" %>
<script>

function validate()
{
	if(document.getElementById("project_projectname").value=="")
 { 
   alert("Please Enter Project Name");
   document.getElementById("project_projectname").focus();
   return false;
 }   		
   else if(document.getElementById("project_project_location").value=="")
 { 
   alert("Please Enter Project Location");
   document.getElementById("project_project_location").focus();
   return false;
 }     
else if(document.getElementById("project_start_date").value=="")
 { 
   alert("Please Enter Start Date ");
   document.getElementById("project_start_date").focus();
   return false;
 } 
 
 else if(document.getElementById("project_end_date").value=="")
 { 
   alert("Please Enter End Date ");
   document.getElementById("project_end_date").focus();
   return false;
 }   
else
return true;      
        		
}       	
</script>
        
        
   </head>
<body>
    <form id="form1" >
   
   <div class="maindiv">
        <div class="spacer">
            &nbsp;</div>
        <div class="innerdiv">
              <div class="top-header">
                <p style="width: 24px;">
                    <img src="../../assets/header-top-left.jpg" alt="Canopy One" /></p>
                <p class="header-bg">&nbsp;
                    </p>
                <p style="width: 24px;">
                    <img src="../../assets/header-top-right.jpg" alt="Canopy One" /></p>
            </div>
            <!--Header Begin-->
            <div class="header">
                <div class="floatleft">
               
                        <img src="../../assets/logo.jpg" style="padding: 0px 0px 0px 12px; border: 0px;" alt="Canopy One" /></div>
               <div id="global_office">
                   
                </div>
                                   <div id="global_officeforms">
                    <div id="topnav">
                        <ul id="dropdownmenu">
                             <%= render :partial=>"partials/link" %>
                            </ul>
                    </div>
                </div>
            </div>
            
            
     <!--       <div class="headingbg_img">
                <div class="headingbg_padding">
                    &nbsp;</div>
                <div id="TransBg">
                    &nbsp;</div>
                <div class="lineheight">
                    &nbsp;</div>
                <div class="menu_space">
                    &nbsp;</div>
               </div>       -->
               
               
            <div class="innercontentTS">
           
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">  <!--width="934"-->
      <tbody><tr>
        <td valign="top"></td>
      </tr>
      <tr>
        <td></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center"></td>
            </tr>
            <tr>
              <td align="left" height="10">
                  </td>
            </tr>
            <tr>
              <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
              <td valign="top"><table border="0" cellpadding="0" cellspacing="0">  <!--width="660"-->
              <tbody><tr>
                <td><table background="../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td><table align="center" border="0" cellpadding="3" cellspacing="0" width="978">
                      <tbody><tr>
                        <td class="innerheadingts" align="left" height="25" style="padding-left:7px"><b>Add Project
                        </b></td><td align="center">
                <%= render :partial=>'partials/welcome' %>
                </td>
                      </tr>
                      

                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table background="../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td>

             
     
<div align="center">
	


<br />

<p><b>Client: <b class="innerheadingts"><%= @client.name %></b></p></b>
<h3> <b>Project List</b></h3>
<% unless @client.projects.empty? %>

<table border="1" class="grid">
	
	<tr>
		<th>Project Name</th>
		<th>Description</th>
		<th>Location</th>
		<th>Rate</th>
		<th>Start-Date</th>
		<th>End-Date</th>

	</tr>
<% @client.projects.each do|c| %>
<tr>
<td><%= c.projectname %></td>
<td><%= truncate c.description %></td>
<td><%= c.project_location %></td>
<td><%= c.rate %></td>
<td><%= c.start_date %></td>
<td><%= c.end_date %></td>


</tr>
<% end %>
</table>
<% else %>
<p><b style="color: red">No Project Associated With </b><b><%= @client.name %></b>
<% end %>
</div>
</br>
</br></br>

<div align="center">
<p id="notice"><b><%= notice %></b></p>

<b>Add Project</b>
<table>
<tr>
<td><b>Project-Name:</b></td><td height="30"><%= com.text_field :projectname %><span style="color: Red">*</span></td></tr>
<tr>
<td><b>Descripton:</b></td><td height=""><%= com.text_field :description %></td></tr>
<tr>
<td><b>Location:</b></td><td height="30"><%= com.text_field :project_location %><span style="color: Red">*</span></td></tr>
<tr>
<td><b>Rate:</b></td><td height="30"><%= com.text_field :rate %></td></tr>
<tr>
<td><b>Start-Date:</b></td><td height="30"><%= com.text_field :start_date %><span style="color: Red">*</span></td></tr>
<tr>
<td><b>End-Date:</b></td><td height="30"><%= com.text_field :end_date %><span style="color: Red">*</span></td></tr>
</br>


<tr><td></td><td><%= com.submit "Add Project", :class=>"button_med" %></p></td>
	
</tr>
</table>

<% end %>

</div>

 </td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody></table></td>
            </tr>
        </tbody></table>

             </td>
            </tr>
        </tbody></table>
        
        </div>
                 <div class="clearboth" style="line-height: 2px;">
                    &nbsp;</div>
           
            <div class="bottom-footer">
                <p style="width: 24px;">
                    <img src="../../assets/bottom-left.jpg" alt="Canopy One" /></p>
                <p class="bottom-footerbg">
                    Copyright @ 2009 Canopy One Solutions . all rights reserved.</p>
                <p style="width: 24px;">
                    <img src="../../assets/bottom-right.jpg" alt="Canopy One" /></p>
            </div>
        </div>
        <div class="smallspacer">
            &nbsp;</div>
    </div>
    </form>
</body>
</html>
                    
          
