<p id="notice"><%= notice %></p>


<p>Date-Worked:<%= @timesheet.date_worked %></p>
<p>Document-Name:<%= @timesheet.document_name%></p>
<p>Hours-Worked:<%= @timesheet.hours_worked %></p>

<p>Proof-Path:<%= @timesheet.proof_path %></p>
<p>Proof-Uploaded:<%= @timesheet.proof_uploaded %></p>
<p>Status<%= @timesheet.status %></p>


<p><%= link_to 'back', user_timesheets_path %></p>

