<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td></tr>
  <% end %>
<tr><td><b>
<%= f.label :parent_vendor %></b></td>
<td height="30"> <%= f.select :parent_id,  vendors_menu_collection(), :selected => 1 %>
</td></tr>
  <tr><td><b>
    <%= f.label :name %>:</b></td><td height="30">
   <font><%= f.text_field :name %></font>
  </td></tr>
 
  <tr><td><b>
    <%= f.label :address1 %>:</b></td>
    <td height="30">  <%= f.text_field :address1 %></td></tr>
  
  <tr><td><b>
    <%= f.label :address2 %>:</b></td><td height="30">
    <%= f.text_field :address2 %>
  </td></tr>
  <tr><td><b>
    <%= f.label :city %>:</b></td><td height="30">
    <%= f.text_field :city %>
  </td></tr>
  <tr><td><b>
    <%= f.label :state %>:</b></td><td height="30">
    <%= f.text_field :state %>
  </td></tr>
  <tr><td><b>
    <%= f.label :zip %>:</b></td><td height="30">
    <%= f.text_field :zip %>
  </td></tr>

  <tr><td><b>
    <%= f.label :federal_id %>:</b></td>
    <td height="30"><%= f.text_field :federal_id %>
  </td></tr>
  
  <tr><td>&nbsp;</td>
  
   <td><%= f.submit "Submit", :class=>"button_small" %>&nbsp;&nbsp;&nbsp;&nbsp;
   			

<% end %>



<button class="button_small"><%= link_to 'Back', vendors_path %></button></td></tr>
