<%= form_for @rec_metric, :url=>{:action=>'create'} do |f| %>
<% if @rec_metric.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @rec_metric.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="field">
   
    <%= f.hidden_field :user_id,:value=>session[:user_id] %>
  </div>
<label for="Accept Placement">Accept Placement</label>
  <%= f.radio_button :placement_success, true%>
  <label for="Reject Placement">Reject Placement</label>
   <%= f.radio_button :placement_success , false%>
   <div class="actions">
    <%= f.submit 'submit' %>
  </div>
<% end %>