
<p id="notice"><%= notice %></p>


		

    <p>Placement Status:   <% if !@rec_metric.placement_success %><%= "rejected"%></p>
    <%else%> <%= "accepted "%>
    <%end %>
 
   

  <p>  <%= link_to 'edit', edit_user_recruitmentmetric_path(@rec_metric,@user) %>
    
        <%= link_to 'Back', user_recruitmentmetrics_path %></p>
