


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" >
    <title>Welcome To Canopy One Solutions is an IT Solution Provider and general IT consulting
        company</title>
        
        <%= stylesheet_link_tag "menustyles.css" %>
      
        <%= stylesheet_link_tag "Styles.css" %>
        <%= stylesheet_link_tag "reset-min.css" %>
        
<script type="text/javascript">
     	
 
	
function back(link)
{
	window.location.href =link;
}



     	
     	function select()
     	
     	{
     	if(document.getElementById("self_service_my_file").value=="")
        		
        		{
        			
        			alert("Please Select A Document To Upload");
        			document.getElementById("self_service_my_file").focus();
        			return false;
        		}
        		else
        		return true;
        		 
        	}
     	
     </script>
        
   </head>
<body>
 <%= form_for :self_service, :url=>{:controller=>'self_services',:action=>'create' }, :html => {:multipart => true,:onsubmit=>"return select();"} do |f| %>
   
   <div class="maindiv">
        <div class="spacer">
            &nbsp;</div>
        <div class="innerdiv">
            <div class="top-header">
                <p style="width: 24px;">
                    <img src="../../assets/header-top-left.jpg" alt="Canopy One" /></p>
                <p class="header-bg">&nbsp;
                    </p>
                <p style="width: 24px;">
                    <img src="../../assets/header-top-right.jpg" alt="Canopy One" /></p>
            </div>
            <!--Header Begin-->
            <div class="header">
                <div class="floatleft">
                
                        <img src="../../assets/logo.jpg" style="padding: 0px 0px 0px 12px; border: 0px;" alt="Canopy One" /></div>
               <div id="global_office">
                   
                </div>
                                   <div id="global_officeforms">
                    <div id="topnav">
                        <ul id="dropdownmenu">
                             <%= render :partial=>"partials/link" %>
                            </ul>
                    </div>
                </div>
            </div>
            
            
     <!--       <div class="headingbg_img">
                <div class="headingbg_padding">
                    &nbsp;</div>
                <div id="TransBg">
                    &nbsp;</div>
                <div class="lineheight">
                    &nbsp;</div>
                <div class="menu_space">
                    &nbsp;</div>
               </div>       -->
               
               
            <div class="innercontentTS">
           
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">  <!--width="934"-->
      <tbody><tr>
        <td valign="top"></td>
      </tr>
      <tr>
        <td></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center"></td>
            </tr>
            <tr>
              <td align="left" height="10">
                  </td>
            </tr>
            <tr>
              <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
              <td valign="top"><table border="0" cellpadding="0" cellspacing="0">  <!--width="660"-->
              <tbody><tr>
                <td><table background="../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td><table align="center" border="0" cellpadding="3" cellspacing="0" width="978">
                      <tbody><tr>
                        <td class="innerheadingts" align="left" height="25" style="padding-left:7px"><b>Self-Service Zone
                        </b></td><td align="center">
        
               <%= render :partial=>'partials/welcome' %>
                 
                </td>
                      </tr>
                      

                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table background="../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td>
                    	
                    	
                    
<div align="center">
<br /><br /><br /><br />
<p align="center">  <b><span style="color: Red">*</span></b><%= f.file_field :my_file %></p></br>
  <p align="center"><%= f.submit "Upload", :class=>"button_small" %>

&nbsp;&nbsp;&nbsp;

<input type="button" value="Back" class="button_small" onclick="back('<%= self_services_path %>')" ></input>

</p>

</div>


  
                    </td>
                  </tr>
                  <tr>
                    <td><img src="../../../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody></table></td>
            </tr>
        </tbody></table>

             </td>
            </tr>
        </tbody></table>
        
        </div>
                <div class="clearboth" style="line-height: 2px;">
                    &nbsp;</div>
           
            <div class="bottom-footer">
                <p style="width: 24px;">
                    <img src="../../assets/bottom-left.jpg" alt="Canopy One" /></p>
                <p class="bottom-footerbg">
                    Copyright @ 2009 Canopy One Solutions . all rights reserved.</p>
                <p style="width: 24px;">
                    <img src="../../assets/bottom-right.jpg" alt="Canopy One" /></p>
            </div>
        </div>
        <div class="smallspacer">
            &nbsp;</div>
    </div>
    <% end %>
</body>
</html>

