<%= form_for (@vendor_contact), :url=>{:action=>"update"} do |f| %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" >
    <title>Welcome To Canopy One Solutions is an IT Solution Provider and general IT consulting
        company</title>
  <%= stylesheet_link_tag "menustyles.css" %>
      
        <%= stylesheet_link_tag "Styles.css" %>
        <%= stylesheet_link_tag "reset-min.css" %>
        
        
   </head>
<body>
    <form id="form1" >
   
   <div class="maindiv">
        <div class="spacer">
            &nbsp;</div>
        <div class="innerdiv">
            <div class="top-header">
                <p style="width: 24px;">
                    <img src="../../../../assets/header-top-left.jpg" alt="Canopy One" /></p>
                <p class="header-bg">&nbsp;
                    </p>
                <p style="width: 24px;">
                    <img src="../../../../assets/header-top-right.jpg" alt="Canopy One" /></p>
            </div>
            <!--Header Begin-->
            <div class="header">
                <div class="floatleft">
                
                        <img src="../../../../../assets/logo.jpg" style="padding: 0px 0px 0px 12px; border: 0px;" alt="Canopy One" /></div>
               <div id="global_office">
                   
                </div>
                                   <div id="global_officeforms">
                    <div id="topnav">
                        <ul id="dropdownmenu">
                             <%= render :partial=>"partials/link" %>
                            </ul>
                    </div>
                </div>
            </div>
            
            
     <!--       <div class="headingbg_img">
                <div class="headingbg_padding">
                    &nbsp;</div>
                <div id="TransBg">
                    &nbsp;</div>
                <div class="lineheight">
                    &nbsp;</div>
                <div class="menu_space">
                    &nbsp;</div>
               </div>       -->
               
               
            <div class="innercontentTS">
           
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">  <!--width="934"-->
      <tbody><tr>
        <td valign="top"></td>
      </tr>
      <tr>
        <td></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center"></td>
            </tr>
            <tr>
              <td align="left" height="10">
                  </td>
            </tr>
            <tr>
              <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
              <td valign="top"><table border="0" cellpadding="0" cellspacing="0">  <!--width="660"-->
              <tbody><tr>
                <td><table background="../../../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td><table align="center" border="0" cellpadding="3" cellspacing="0" width="978">
                      <tbody><tr>
                        <td class="innerheadingts" align="left" height="25" style="padding-left:7px"><b>Vendor-Contacts
                        </b></td><td align="center">
        
               <%= render :partial=>'partials/welcome' %>
                 
                </td>
                      </tr>
                      

                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td><img src="../../../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table background="../../../../assets/body_bg1.gif" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr>
                    <td><img src="../../../../assets/body_top1.gif" height="10" width="978"></td>
                  </tr>
                  <tr>
                    <td>
                    	
                    	
                    
<div align="center">
  <% if @vendor_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_contact.errors.count, "error") %> prohibited this vendor_contact from being saved:</h2>

      <ul>
      <% @vendor_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
  <tr><td><b>
    <%= f.label :poc_name %>:</b></td><td height="30">
    <%= f.text_field :poc_name %>
  </td></tr>
  <tr><td><b>
    <%= f.label :poc_email %>:</b></td><td height="30">
    <%= f.text_field :poc_email %>
  </td></tr>
  <tr><td><b>
    <%= f.label :poc_alternate_email %>:</b></td><td height="30">
    <%= f.text_field :poc_alternate_email %>
  </td></tr>
  <tr><td><b>
    <%= f.label :sub_sign_authority %>:</b></td><td height="30">
    <%= f.text_field :sub_sign_authority %>
  </td></tr>
  <tr><td><b>
    <%= f.label :sub_sign_authority_title %>:</b></td><td height="30">
    <%= f.text_field :sub_sign_authority_title %>
  </td></tr>
  <tr><td><b>
    
    <%= f.hidden_field :vendor_id, :value=>params[:vendor_id] %>
  </td></tr>
  <tr><td><b>
    <%= f.label :phone %>:</b></td><td height="30">
    <%= f.text_field :phone %>
  </td></tr>
  <tr><td><b>
    <%= f.label :phone_extension %>:</b></td><td height="30">
    <%= f.text_field :phone_extension %>
  </td></tr>
 <tr><td></td><td>
    <%= f.submit "Update",:class=>"button_large" %>
  </td></tr>
<% end %>
</table>



<%= link_to 'Show',  vendor_vendor_contacts_path(@vendor,@vendor_contact) %>|
<%= link_to 'Back', vendor_vendor_contacts_path(@vendor) %>
   </td>
                  </tr>
                  <tr>
                    <td><img src="../../../../../../assets/body_bot1.gif" height="10" width="978"></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody></table></td>
            </tr>
        </tbody></table>

             </td>
            </tr>
        </tbody></table>
        
        </div>
                <div class="clearboth" style="line-height: 2px;">
                    &nbsp;</div>
           
            <div class="bottom-footer">
                <p style="width: 24px;">
                    <img src="../../../../assets/bottom-left.jpg" alt="Canopy One" /></p>
                <p class="bottom-footerbg">
                    Copyright @ 2009 Canopy One Solutions . all rights reserved.</p>
                <p style="width: 24px;">
                    <img src="../../../../assets/bottom-right.jpg" alt="Canopy One" /></p>
            </div>
        </div>
        <div class="smallspacer">
            &nbsp;</div>
    </div>
    </form>
</body>
</html>
